<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="modelFacade" class="com.netcracker.taskmanager.util.ModelFacade" factory-method="getInstance"/>
    <bean id="employeeController" class="com.netcracker.taskmanager.controller.EmployeeControllerInterface"/>
    <bean id="processController" class="com.netcracker.taskmanager.controller.ProcessControllerInterface"/>
    <bean id="processTemplateController" class="com.netcracker.taskmanager.controller.ProcessTemplateControllerInterface"/>
    <bean id="processTemplateRuleController" class="com.netcracker.taskmanager.controller.ProcessTemplateRuleControllerInterface"/>
    <bean id="skillController" class="com.netcracker.taskmanager.controller.SkillControllerInterface"/>
    <bean id="taskController" class="com.netcracker.taskmanager.controller.TaskControllerInterface"/>
    <bean id="taskTemplateController" class="com.netcracker.taskmanager.controller.TaskTemplateControllerInterface"/>
    <bean id="taskTemplateRuleController" class="com.netcracker.taskmanager.controller.TaskTemplateRuleControllerInterface"/>

</beans>
